/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
*{
  padding: 0;
  margin: 0;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

html{
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
}
section{
  display:flex;
  justify-content: space-between;
}

.flex{
  display:inline-flex;
  justify-content: space-between;
  margin: 100px 100px 70px 200px;
}



h2{
  color:#06365f;

}

p{
  text-align: left;
}

.phone{
  width: 50%;
}

.sec-right{
  margin-left:50px;
}

.encabezado{
  display: flex;
  justify-content: space-between;
}

.encabezado div img{
  height: 30px;
}


.background{
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  padding: 40px;
  padding-right: 60px;
}

.fondo p {
  margin-top:10px ;
}

.links img{
  margin-left:20px;
  padding:20px;
}

footer{
  margin:0 400px;
  font-size: 13px;
  padding-right: 130px;
  
}

footer ul{
  display:flex;
  list-style-type: none;
  color:#3377af;
  text-transform: uppercase ;
  justify-content: space-around;
  font-weight: bold;

}

footer ul li a{
  text-decoration:none;
}

.copy{
  color:grey;
}
.ColButt{
    background-color:#3377af;
    width: 100px;
    height: -webkit-fill-available;
    margin-top: 30px;
}